/*  PORTFOLIO
========================================================================================================================
*/
.portfolio {
  height: 100vh;
  width: 100%;
}
/*  ABOUT
========================================================================================================================
*/
.about {
  height: 30vh;
  width: inherit;
  background-color: green;
}
/*  EXPERIENCE
========================================================================================================================
*/
.experience {
  height: 50vh;
  width: inherit;
  background-color: yellow;
}
/*  SOCIAL
========================================================================================================================
*/
.social {
  height: 20vh;
  width: inherit;
  background-color: blue;
}
