/*  PORTFOLIO
========================================================================================================================
*/
.portfolio {
  height: 100vh;
  width: 100%;
}
/*  ABOUT
========================================================================================================================
*/
.about {
  height: 30vh;
  width: inherit;
  background-color: green;
  display: flex;
  position: relative;
  justify-content: space-evenly;
}
.about-photo {
  width: 30%;
}
.about-resume {
  width: 30%;
}
.about-headline {
  width: 30%;
}
/*  EXPERIENCE
========================================================================================================================
*/
.experience {
  height: 50vh;
  width: inherit;
  background-color: yellow;
}
/*  SOCIAL
========================================================================================================================
*/
.social {
  height: 20vh;
  width: inherit;
  background-color: blue;
}
